<div class="panel" id="map"></div>

   <div class="submit-issue-div">
     <%= button_to "Submit New Issue", new_issue_path, method: :get, class: "submit-issue" %>
   </div>

<div class="background-shader large-2 large-offset-5 small-6 small-offset-3 columns text-center">
  <div class="issue-list-title" id="issue-list-title">Issue List</div>
</div>

<br>
<div class="row hide">

   <div class="small-9 large-12 columns small-centered large-uncentered">

     <% @not_completed_issues.each do |issue| %>
     <article class="event">

       <div class="event-date">
         <p class="event-month"> <%= issue.created_at.strftime("%m/%d") %>  </p>
         <p class="event-day"> <%= issue.created_at.strftime("%I:%M %p") %></p>
       </div>

       <div class="event-desc">
         <p class="event-desc-header"><%= link_to issue.headline, issue_path(issue) %></p>
       </div>

      </article>
       <hr>
    <% end %>

   </div>
 </div>
