<h2> <%= @issue.headline %> </h2>

<ul>
  <li> <%= @issue.description  %> </li>
</ul>

<% if current_user.try(:admin?) %>
  <%= link_to 'Delete Issue', issue_path , method: :delete %> <br>
  <%= link_to 'Edit', edit_issue_path(@issue) %>
<% end %>
