/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require foundation_and_overrides

 */

.panel {
  height: 400px;
  border-color: #fff;
  border-style: solid;
  box-shadow: 2px 2px 10px #B1B1B1;
  border-width: 2px;
}

#map-canvas {
  height: 50%;
  width: 90%;
  margin-left: 5%;
}


.title-box {
  background-color: #BD3039;
  color: white;
  font-family: 'Alegreya Sans SC', sans-serif;
  font-size: 2.5rem;
  font-weight: bold;
  padding-left: 5%;
}

.submit-issue {
  font-family: 'Alegreya Sans SC', sans-serif;
  font-size: 2rem;
  border: 2px solid;
}

.submit-issue-div {
  text-align: center;
}

.issue-list-title{
  font-size: 1.5rem;
  font-family: 'Alegreya Sans SC', sans-serif;
  padding-left: 3%;
}

.event {
  padding: 1rem 1rem 1rem 0;
  display: table;
}

.event-date {
  width: 2rem;
  margin: 0 auto 1rem;
  display: table-cell;
  width: auto;


  .event-month {
    margin: 0;
    background: #eee;
    padding: 0.5rem 2rem;
    text-align: center;
    font-size: 1.5rem;

  }

  .event-day {
    margin: 0;
    border: 1px solid #eee;
    padding: 0 2rem;
    text-align: center;
    font-size: 1.5rem;
  }
}

.event-desc {
  padding: 0 0 0 1rem;
  text-align: left;
  display: table-cell;
  vertical-align: top;

  .event-desc-header {
    margin: 0 0 0.5rem 0;
    font-size: 1.5rem;
    padding: 0;
  }

  .event-desc-detail {
    margin: 0 0 0.25rem;
    padding: 0;
    font-size: 2rem;
  }

  .event-desc-time {
    font-weight: bold;
  }

  .rsvp.button {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    margin: 0;
  }
}
body{
  background-image: url("boston.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.title-issue-form{
  font-size: 3rem;
  padding-left: 6%;
}

.issue-form-labels{
  font-size: 2rem;
  padding-left: 3%;
}

.issue-form-headline{
  padding-left: 3%;
  padding-right: 40%;
}
.issue-form-description{
  padding-left: 3%;
  padding-right: 3%;
}

.submit{
  margin-left: 3%;
}
@media (max-width: 1100px) {
  .title-box {
    text-align: center;
    padding-left: 0%;
  }
}
